@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2196f3;
    overflow: hidden;
}
.swiper-container{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide{
    background-position: center;
    background-size: cover;
    width: 320px;
    background:#fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    filter: blur(4px);
    background: #d1ebff;
    border-radius: 10px;
}
.swiper-slide-active{
    filter: blur(0px);
    background: #fff;
}  
.testmonialBox{
    position: relative;
    width: 100%;
    padding: 20px;
    color: #999;
}
.testmonialBox .img{
    display: flex;
    align-items: center;
    margin: auto;
}
.slide-title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 12px;
}
.slide-audio-title {
    font-size: 20px;
    text-align: center;
    margin: 8px 0;
}

















